# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/forky-server/build.gradle.kts
/forky-server/src/minecraft
/paper-server
/purpur-server
/forky-api/build.gradle.kts
/paper-api
/paper-api-generator
/purpur-api

.idea/

gradle.sh